{% block content %}

<header>
    <div class="alert alert-secondary m-2">Total score: <b ot-text="vars.progress.score"></b></div>
    <p id="gain" hidden>You <i ot-text="vars.gain"></i></p>
</header>

<main id="main" class="ot-fade d-flex" hidden>
    <ot-stacked class="content">
        <div id="phase-aim" class="ot-fade icon text-center" hidden>✛</div>
        <div id="phase-stimulus" class="ot-fade fs-1 text-center" hidden>
            <span ot-text="vars.trial.expression"></span> = <span ot-text="vars.trial.suggestion"></span>
        </div>
        <div id="phase-response" class="ot-fade icon text-center" hidden>?</div>

        <div id="feedback-success" class="ot-fade icon text-center text-success" hidden>✔</div>
        <div id="feedback-failure" class="ot-fade icon text-center text-danger" hidden>✘</div>
        <div id="feedback-timeout" class="ot-fade icon text-center text-danger" hidden>⌛</div>
    </ot-stacked>
</main>

<footer>
    <p id="prompt">
        Press <kbd ot-key-input="y" name="answer" value="Y">Y</kbd> if the expression iscorrect,
        press <kbd ot-key-input="n" name="answer" value="N">N</kbd> if it's not.
        Only answer when you see <code>?</code>
    </p>
    <ot-pulse id="waiting" hidden></ot-pulse>
</footer>

{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'fullscreen.css' }}">
<link rel="stylesheet" href="{{ static 'otree-front-ext.css' }}">
<link rel="stylesheet" href="{{ static 'ot-progress.css' }}">
<link rel="stylesheet" href="{{ static 'ot-pulse.css' }}">
<style>
    .icon {
        font-size: xxx-large;
    }
</style>
{% endblock %}

{% block scripts %}
<script src="{{ static 'otree-front-2.0.b2.js' }}"></script>
<script src="{{ static 'otree-front-ext.js' }}"></script>
<script src="{{ static 'otree-front-live.js' }}"></script>
<script src="{{ static 'ot-progress.js' }}"></script>
<script src="{{ static 'ot-pulse.js' }}"></script>
<script src="{{ static 'format_score.js' }}"></script>

<script>
    "use strict";
    const SCHEDULE_PHASES = js_vars.C.SCHEDULE.filter(e => typeof (e) == 'string');
    const SCHEDULE_DURATIONS = js_vars.C.SCHEDULE.filter(e => typeof (e) == 'number');
    const FEEDBACK_DELAY = js_vars.C.FEEDBACK_DELAY * 1000;
    const FADEOUT_TIME = parseInt(getStyleProp("--ot-fade-out-time"));

    onLoad(startGame);
    onLive('progress', updateProgress);
    onLive('trial', startTrial);
    onInput('answer', inputAnswer);
    onLive('feedback', liveFeedback);
    onUpdate("feedback", displayFeedback);
    onTimer('phase', switchPhase);
    onTimer('timeout', timeoutAnswer);
    onLive('failure', function (message) { alert(message); ot.completePage(); });

    onCountdown(updatePageTimer);
    onTimer('timebar', updateTrialTimer);
    onTimer('timeout', timeoutAnswer);

    function startGame() {
        vars.progress = {};
        vars.styles = {};
        nextIter();
    };

    function updateProgress(data) {
        Object.assign(vars.progress, data); // update object fields
    };

    function updatePageTimer(remaining) {
        // animate towards next step
        vars.page_timer.elapsed = PAGE_TIMEOUT - remaining + 1;
    }

    async function updateTrialTimer(elapsed, count) {
        // animate towards next step
        vars.trial_timer.elapsed = (count + 1) * TRIAL_TIMESTEP;
    }


    function nextIter() {
        resetTrial();

        if (vars.progress.terminated) {
            ot.completePage();
        } else {
            sendLive('next'); // -> server replies progress and trial
        }
    }

    function resetTrial() {
        vars.trial = null;
        vars.answer = null;
        vars.feedback = null;
        ot.resetInputs();
        ot.disableInputs();
        ot.cancelTimers();
        ot.updatePage();
    }

    function startTrial(data) {
        vars.trial = data;

        ot.showDisplay("main");
        ot.showDisplay("prompt");

        ot.startTimerSequence('phase', SCHEDULE_DURATIONS);
    }

    function switchPhase(elapsed, count) {
        let phasename = SCHEDULE_PHASES[count];  // NB: count starts at 0
        switchDisplays(`phase-${phasename}`);
        if (phasename == 'response') {
            ot.enableInputs();
            ot.beginTimeMeasurement();
            ot.startTimer('timeout', RESPONSE_TIMEOUT);
        }
    }

    function inputAnswer(value) {
        ot.disableInputs(); // prevent double-commit
        ot.cancelTimers();
        ot.hideDisplays("phase-*");
        ot.hideDisplay("prompt");

        vars.answer = value;

        sendLive('response', {
            iteration: vars.trial.iteration,
            time: ot.getTimeMeasurement(),
            answer: vars.answer
        }); // -> server replies feedback and progress
    };

    function timeoutAnswer() {
        ot.disableInputs();
        ot.cancelTimers();
        ot.hideDisplays("phase-*");
        ot.hideDisplay('prompt');

        sendLive('timeout', {
            iteration: vars.trial.iteration,
        });
    }


    async function liveFeedback(value) {
        vars.feedback = value;
        completeTrial();
    };

    async function completeTrial() {
        ot.showDisplay("waiting");
        await ot.delay(FEEDBACK_DELAY);
        ot.hideDisplay("main");
        await ot.delay(FADEOUT_TIME);
        ot.hideDisplay("waiting");
        nextIter();
    }

    function displayFeedback() {
        if (vars.feedback) {
            vars.gain = format_gain(vars.feedback.score);
            ot.showDisplay("gain");

            if (vars.feedback.timeouted) {
                switchDisplays('feedback-timeout');
            } else if (vars.feedback.success) {
                switchDisplays('feedback-success');
            } else {
                switchDisplays('feedback-failure');
            }
        } else {
            vars.gain = null;
            ot.hideDisplays('feedback-*');
            ot.hideDisplay("gain");
        }
    }
</script>
{% endblock %}