:root {
    --ot-slider-width: 512px;
    --ot-slider-height: 24px;
}

ot-slider {
    position: relative;
    width: var(--ot-slider-width);
    margin: 4px;
}

ot-slider[disabled] {
    opacity: 0.5;
}

ot-slider input {
    display: block;
    z-index: 2;
}

ot-slider i {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 2px;
    left: 50%;
    top: 25%;
    bottom: 25%;
    margin-left: calc(var(--ot-slider-height) / 2);
}

ot-slider .form-range {
    height: var(--ot-slider-height);
}

ot-slider .form-range::-webkit-slider-thumb {
    margin: 0;
    height: var(--ot-slider-height);
    width: var(--ot-slider-height);
}

ot-slider .form-range::-moz-range-thumb {
    margin: 0;
    height: var(--ot-slider-height);
    width: var(--ot-slider-height);
}

ot-slider .form-range::-webkit-slider-runnable-track {
    height: var(--ot-slider-height);
}

ot-slider .form-range::-moz-range-track {
    height: var(--ot-slider-height);
}

ot-slider.is-valid i {
    display: none;
}

ot-slider.is-valid .form-range::-webkit-slider-thumb,
ot-slider.is-valid .form-range::-webkit-slider-thumb:active {
    background-color: #198754;
}

ot-slider.is-valid input::-moz-range-thumb,
ot-slider.is-valid input::-moz-range-thumb:active {
    background-color: #198754;
}