{% block content %}
<header>
    <ot-progress ticks="1" max="vars.progress.total" value="vars.progress.completed" value2="vars.progress.current"></ot-progress>
    <div class="d-flex">
        <div class="alert alert-secondary otree-timer-custom m-2">Time left: <b class="otree-timer__time-left">0:00</b></div>
        <div class="alert alert-secondary m-2">Total score: <b ot-text="vars.progress.score"></b></div>
    </div>
    <p id="gain">You <i ot-text="vars.gain_txt"></i></p>
</header>

<main id="main" class="ot-fade d-flex" hidden>
    <div class="fs-1 m-3">
        <span ot-text="vars.trial.expression"></span>
        =
        <span ot-text="vars.answer" ot-class="vars.feedback_txt_style" class="answer"></span>
    </div>

    <div class="d-flex flex-row gap-3">
        <button type="button" class="btn" ot-class="vars.btn_styles.1" ot-click-input name="choice" value="1" ot-text="vars.trial.options.1"></button>
        <button type="button" class="btn" ot-class="vars.btn_styles.2" ot-click-input name="choice" value="2" ot-text="vars.trial.options.2"></button>
        <button type="button" class="btn" ot-class="vars.btn_styles.3" ot-click-input name="choice" value="3" ot-text="vars.trial.options.3"></button>
    </div>
</main>

<footer>
    <p id="prompt">Click on a button with your solution.</p>
    <ot-pulse id="waiting" hidden></ot-pulse>
</footer>

{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'fullscreen.css' }}">
<link rel="stylesheet" href="{{ static 'otree-front-ext.css' }}">
<link rel="stylesheet" href="{{ static 'ot-progress.css' }}">
<link rel="stylesheet" href="{{ static 'ot-pulse.css' }}">
<style>
    .answer {
        display: inline-block;
        min-width: 2em;
    }

    .answer:empty::before {
        content: "...";
    }
</style>
{% endblock %}

{% block scripts %}
<script src="{{ static 'otree-front-2.0.b2.js' }}"></script>
<script src="{{ static 'otree-front-ext.js' }}"></script>
<script src="{{ static 'otree-front-live.js' }}"></script>
<script src="{{ static 'ot-progress.js' }}"></script>
<script src="{{ static 'ot-pulse.js' }}"></script>
<script src="{{ static 'format_score.js' }}"></script>

<script>
    "use strict";

    const FEEDBACK_DELAY = js_vars.C.FEEDBACK_DELAY;
    const FADEOUT_TIME = parseInt(getStyleProp("--ot-fade-out-time"));

    onLoad(startGame);
    onLive('progress', updateProgress);
    onLive('trial', startTrial);
    onInput('choice', inputChoice);
    onLive('feedback', liveFeedback);
    onLive('failure', function (message) { alert(message); ot.completePage(); });

    function startGame() {
        vars.progress = {};
        nextIter();
    };

    function updateProgress(data) {
        Object.assign(vars.progress, data);
    };

    function nextIter() {
        resetTrial();

        if (vars.progress.terminated) {
            ot.completePage();
        } else {
            sendLive('next');
        }
    }

    function resetTrial() {
        vars.trial = null;
        vars.choice = null;
        vars.answer = null;
        vars.feedback = null;
        ot.hideDisplays(['main', 'prompt', 'waiting', 'gain']);
        clearButtons();
        clearFeedback();
        ot.resetInputs();
        ot.disableInputs();
        ot.updatePage();
    }

    function startTrial(data) {
        vars.trial = data;

        ot.showDisplay("main");
        ot.showDisplay("prompt");

        ot.enableInputs();
        ot.beginTimeMeasurement();
        ot.updatePage();
    }

    function inputChoice(value) {
        ot.disableInputs();

        ot.hideDisplay("prompt");

        vars.choice = value;
        vars.answer = vars.trial.options[value];

        highlightChoice();

        sendLive('response', {
            iteration: vars.trial.iteration,
            time: ot.getTimeMeasurement(),
            choice: vars.choice
        });
    };

    async function liveFeedback(data) {
        vars.feedback = data;
        displayFeedback();
        ot.showDisplays(["waiting", "gain"]);
        await ot.delay(FEEDBACK_DELAY);
        ot.showDisplays(["waiting", "gain"]);
        completeTrial();
    };


    function clearButtons() {
        vars.btn_styles = {
            1: "btn-primary",
            2: "btn-primary",
            3: "btn-primary",
        }
    }

    function clearFeedback() {
        vars.gain_txt = null;
        vars.feedback_txt_style = null;
    }

    function displayFeedback() {
        vars.gain_txt = format_gain(vars.feedback.score);
        vars.btn_styles[vars.choice] = vars.feedback.success ? ["selected", "btn-success"] : ["selected", "btn-danger"];
        vars.feedback_txt_style = vars.feedback.success ? "text-success" : "text-danger";
    }

    function highlightChoice() {
        vars.btn_styles = {
            1: "btn-outline-dark",
            2: "btn-outline-dark",
            3: "btn-outline-dark",
        }
        vars.btn_styles[vars.choice] = ["selected", "btn-dark"];
    }

    async function completeTrial() {
        ot.hideDisplay("main");
        await ot.delay(FADEOUT_TIME);
        nextIter();
    }
</script>
{% endblock %}