{% block content %}

<header>
    <ot-progress class="timer timer-page" max="vars.page_timer.total" value="vars.page_timer.elapsed"></ot-progress>
    <div class="alert alert-secondary otree-timer-custom m-2">Time left: <b class="otree-timer__time-left">0:00</b></div>
    <div class="alert alert-secondary m-2">Total score: <b ot-text="vars.progress.score"></b></div>
    <p id="gain" hidden>You <i ot-text="vars.gain"></i></p>
</header>

<main id="main" class="ot-fade d-flex" hidden>
    <div class="fs-1 m-3">
        <span ot-text="vars.trial.expression"></span>
        =
        <span ot-text="vars.answer" ot-class="vars.styles.ans" class="answer"></span>
    </div>

    <div class="input-group">
        <span class="input-group-text">=</span>
        <input ot-input type="number" name="answer" class="form-control" ot-class="vars.styles.inp" ot-key-input="Enter" autofocus>
        <ot-progress class="timer timer-trial" max="vars.trial_timer.total" value="vars.trial_timer.elapsed"></ot-progress>
    </div>
</main>

<footer>
    <p id="prompt">Enter your answer and press <kbd>Enter</kbd>.</p>
    <ot-pulse id="waiting" hidden></ot-pulse>
</footer>

{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'fullscreen.css' }}">
<link rel="stylesheet" href="{{ static 'otree-front-ext.css' }}">
<link rel="stylesheet" href="{{ static 'ot-progress.css' }}">
<link rel="stylesheet" href="{{ static 'ot-pulse.css' }}">
<style>
    .otree-timer {
        display: none;
    }

    ot-progress.timer {
        --ot-progress-animation-style: linear;
    }

    ot-progress.timer-page {
        --ot-progress-animation-time: 1s;
    }

    ot-progress.timer-trial {
        --ot-progress-color: #0dcaf0;
        /* high precision to make it stop quickly when answer given */
        --ot-progress-animation-time: 100ms;
    }
</style>
{% endblock %}

{% block scripts %}
<script src="{{ static 'otree-front-2.0.b2.js' }}"></script>
<script src="{{ static 'otree-front-ext.js' }}"></script>
<script src="{{ static 'otree-front-live.js' }}"></script>
<script src="{{ static 'ot-progress.js' }}"></script>
<script src="{{ static 'ot-pulse.js' }}"></script>
<script src="{{ static 'format_score.js' }}"></script>

<script>
    "use strict";
    const PAGE_TIMEOUT = js_vars.C.PAGE_TIMEOUT; // in seconds
    const TRIAL_TIMEOUT = js_vars.C.TRIAL_TIMEOUT * 1000; // in milliseconds
    const TRIAL_TIMESTEP = 100;

    const FEEDBACK_DELAY = js_vars.C.FEEDBACK_DELAY * 1000;
    const FADEOUT_TIME = parseInt(getStyleProp("--ot-fade-out-time"));

    onLoad(startGame);
    onLive('progress', updateProgress);
    onLive('trial', startTrial);
    onInput('answer', inputAnswer);
    onLive('feedback', liveFeedback);
    onUpdate("feedback.success", highlightFeedback);
    onUpdate("feedback.score", displayGain);
    onLive('failure', function (message) { alert(message); ot.completePage(); });

    onCountdown(updatePageTimer);
    onTimer('timebar', updateTrialTimer);
    onTimer('timeout', timeoutTrial);

    function startGame() {
        vars.progress = {};
        vars.styles = {};
        vars.page_timer = { total: PAGE_TIMEOUT, elapsed: null };
        vars.trial_timer = { total: TRIAL_TIMEOUT, elapsed: null };
        nextIter();
    };

    function updateProgress(data) {
        Object.assign(vars.progress, data); // update object fields
    };

    function updatePageTimer(remaining) {
        // animate towards next step
        vars.page_timer.elapsed = PAGE_TIMEOUT - remaining + 1;
    }

    function updateTrialTimer(elapsed, count) {
        // animate towards next step
        vars.trial_timer.elapsed = (count + 1) * TRIAL_TIMESTEP;
    }


    function nextIter() {
        resetTrial();

        if (vars.progress.terminated) {
            ot.completePage();
        } else {
            sendLive('next'); // -> server replies progress and trial
        }
    }

    function resetTrial() {
        vars.trial = null;
        vars.answer = null;
        vars.feedback = null;
        ot.resetInputs();
        ot.disableInputs();
        ot.updatePage();
    }

    function startTrial(data) {
        vars.trial = data;

        ot.showDisplay("main");
        ot.showDisplay("prompt");

        ot.enableInputs();
        ot.beginTimeMeasurement();
        ot.startTimer('timeout', TRIAL_TIMEOUT);
        ot.startTimerPeriodic('timebar', TRIAL_TIMESTEP);
    }

    function inputAnswer(value) {
        ot.disableInputs(); // prevent double-commit
        ot.hideDisplay("prompt");
        ot.cancelTimers();

        vars.answer = value;

        sendLive('response', {
            iteration: vars.trial.iteration,
            time: ot.getTimeMeasurement(),
            answer: vars.answer
        }); // -> server replies feedback and progress
    };

    function timeoutTrial() {
        ot.disableInputs();
        ot.hideDisplay('prompt');
        ot.cancelTimers();

        sendLive('timeout', {
            iteration: vars.trial.iteration,
        });
    }

    function liveFeedback(value) {
        vars.feedback = value;
        completeTrial();
    };

    async function completeTrial() {
        ot.showDisplay("waiting");
        await ot.delay(FEEDBACK_DELAY);
        ot.hideDisplay("main");
        await ot.delay(FADEOUT_TIME);
        ot.hideDisplay("waiting");
        nextIter();
    }

    function highlightFeedback(success) {
        if (success == null) {
            vars.styles.inp = null;
            vars.styles.ans = null;
        } else {
            vars.styles.inp = success ? "is-valid" : "is-invalid";
            vars.styles.ans = success ? "text-success" : "text-danger";
        }
    }

    function displayGain(score) {
        if (score == null) {
            vars.gain = null;
            ot.hideDisplay("gain");
        } else {
            vars.gain = format_gain(score);
            ot.showDisplay("gain");
        }
    }
</script>
{% endblock %}