[my-progress] {
    --my-current-color: var(--bs-info);
    --my-current-opacity: 0.25;
    --my-completed-color: var(--bs-info);
    --my-completed-opacity: 1.0;
}


main {
    opacity: 1;
    /* transition: opacity 100ms cubic-bezier(0.3, 0.0, 1.0, 1.0); */
}

main.hiding {
    opacity: 0;
    transition: opacity 200ms cubic-bezier(0.3, 0.0, 1.0, 1.0);
}

input[type=number].form-control {
    width: 5em;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

/* make feedback more visible */
button.btn-success:disabled,
button.btn-danger:disabled,
.form-check-input.is-valid:disabled,
.form-check-input.is-valid:disabled ~ .form-check-label,
.form-check-input.is-invalid:disabled,
.form-check-input.is-invalid:disabled~.form-check-label {
    opacity: 1;
}