/** fullscreen responsive page layout
 *
 * Stretches page to full screen height and bootstrap-provided container width.
 * Content is centered and aligned according to section
 */

.otree-body>h2,
.otree-body>br,
form#liveform {
    display: none;
}

.debug-info {
    margin-top: 1rem;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

body {
    height: 100vh;
}

.otree-body, #form, ._otree-content {
    height: 100%;
    padding: 0;
}

._otree-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.otree-timer {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 5;
}

/** page sections **/

header,
footer,
main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0.75rem;
}

header {
    justify-content: start;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

footer {
    justify-content: end;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

main {
    justify-content: center;
}

header,
footer {
    flex: 0 0 auto;
}

main {
    flex: 1 1 auto;
}

/* clean up header and paragraph margins */
footer>*:last-child,
header>*:last-child,
main>*:last-child {
    margin-bottom: 0;
}
