/**
 * Some css tricks for otree-front
 */

:root {
    /* for .fade */
    --ot-fade-out-time: 150ms;
    --ot-fade-in-time: 150ms;
    /** Styles for directive ot-pulse */
    --ot-pulse-size: 0.5rem;
}


/**
  * Makes hidden section to hold space and prevent content from collapsing and re-aligning
  */
.hold-space[hidden] {
    display: initial !important;
    opacity: 0;
}


/**
 * Makes element to hide and show smoothly
 */
.ot-fade {
    opacity: 1;
    transition: opacity var(--ot-fade-in-time) ease-in;
}

.ot-fade[hidden] {
    display: initial !important;
    opacity: 0;
    transition: opacity var(--ot-fade-out-time) ease-out;
 }

.ot-fade.d-flex[hidden] {
    display: flex !important;
}

/**
 * Makes all nested sections/divs appear on top of each other for in-place switching
 */
ot-stacked {
    display: grid;
    grid-template: "content";
}

ot-stacked > * {
    grid-area: content;
    z-index: 0;
}

ot-stacked > *[hidden] {
    grid-area: content;
    z-index: -1;
}

/**
 * Directive <ot-pulse> draws pulsating dots
 */
ot-pulse {
    display: flex;
}

ot-pulse i {
    display: block;
    width: var(--ot-pulse-size);
    height: var(--ot-pulse-size);
    background-color: currentColor;
    border-radius: 50%;
    animation: 1000ms ease-in-out infinite ot-pulsating;
}

@keyframes ot-pulsating {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: none;
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

ot-pulse i:nth-child(1) {
    animation-delay: 0ms;
}

ot-pulse i:nth-child(2) {
    animation-delay: 250ms;
}

ot-pulse i:nth-child(3) {
    animation-delay: 500ms;
}



/** make numbers input small and right aligned */
input[type="number"] {
    max-width: 10em;
    text-align: right;
}

/**
 * Enhancing highlight of input-group
 */
.input-group {
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 0.25rem;
}
.input-group input {
    border-color: #ced4da !important;
    box-shadow: none !important;
}
.input-group:focus-within {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.input-group:has(.is-invalid) {
    border: 1px solid #dc3545;
}
.input-group:has(.is-invalid):focus-within {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}
.input-group:has(.is-valid) {
    border-color: #198754;
}
.input-group:has(.is-valid):focus-within {
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}

/**
 * Enhancing visibility of disabled selected inputs (apparently, with feedback color)
 */
 .form-check-input.selected:disabled,
 .form-check-input.selected:disabled~.form-check-label
 {
    opacity: 0.75;
 }

/** reserve space for validation icon */
something {
    paiding-right: 2.25rem;
}